body {
    min-height: 1000px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

body, .bodyHTML:hover, .title:hover, .modalbodyHTML, .modaltitle {
    background-color: rgb(4, 7, 58);
}

.header, .nav {
    background: rgb(4, 7, 58);
}

.header, .title, .mainIMG, .nav, input, body, .modalmainIMG > img {
    text-align: center;
}

.nav > div, .product {
    display: inline-block;
    width: 33.33%;
}

.nav, input {
    font-size: 32px;
}

.nav, input, .bodyHTML:hover, .title:hover, .modalborder, .closePosition {
    color: rgb(243, 0, 37);
}

.header > img {
    margin: 24px auto 0;
}

.header > img, input {
    width: 50%;
}

.product {
    vertical-align: text-top; 
}

.bodyHTML, .title {
    margin: 10px;
    transition: border-color, 1s;
}

.title {
    height: 78px;
}

.border, .bodyHTML, .title {
    border: 10px solid rgb(243, 0, 37);
}

.nav > div > div  {
    padding: 24px 0px 0px;
    border: 6px solid rgb(243, 0, 37);
    height: 56px;
} 

#clothes {
    border-right: 3px solid rgb(243, 0, 37);
    
}

#hats {
    border-right: 3px solid rgb(243, 0, 37);
    border-left: 3px solid rgb(243, 0, 37);
}

#accessories {
    border-left: 3px solid rgb(243, 0, 37);
}

#clothes, #hats, #accessories, .bodyHTML, .title {
    transition: color, 1s;
    transition: background-color, 1s;
}

#clothes:hover, #hats:hover, #accessories:hover, body {
    color: rgb(4, 7, 58);
}

#clothes:hover, #hats:hover, #accessories:hover, .bodyHTML, .title, .modalborder {
    background-color: rgb(243, 0, 37);
}

.bodyHTML:hover, .title:hover {
    border-color: rgb(4, 7, 58);
}

.title, .modaltitle {
    font-size: 28px;
}

.bodyHTML, .modalbodyHTML {
    font-size: 20px;
    text-align: left;
}

.mainIMG, .modalmainIMG {
    background-color: white;
}

.mainIMG > img, body, .nav {
    max-width: 100%;
}

ul {
    padding-left: 40px;
    margin: 5px auto;
    list-style-type: disc;
}

li {
    margin: 2px auto;
}

input {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgba(243, 0, 36, 0.185);
    outline: none;
    border: 0px;
}

.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(4, 7, 58, 0.75);
    overflow: auto;    
}

.modal > div {
    position: relative;
    width: 60%;
    z-index: 3333;
}

.modal > div, .modalmainIMG > img  {
    display: block;
}
.modal > div, .modalmainIMG > img, body {
    margin: 0 auto;
}

.modalbodyHTML, .modaltitle {
    margin: 10px;
}

.modalborder, .modalbodyHTML, .modaltitle {
    border: 10px solid rgb(4, 7, 58);
}

.modalmainIMG > img {
    max-width: 400px;
}

.closePosition {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
}



@media all and (min-width:900px) and (max-width: 1200px) {
    .product {
        width: 50%;
    }

    #clothes, #hats, #accessories  {
        border: 6px solid rgb(243, 0, 37);
    }
    
    .header > img {
        width: 60%
    }
}

@media all and (max-width: 899px) {
    .product {
        width: 100%;
    }
    
    
    .mainIMG img {
        width: 65%;
    }
    
    .nav > div {
        display: block;
        width: 100%;
    }

    #clothes, #hats, #accessories  {
        border: 6px solid rgb(243, 0, 37);
    }

    .header > img {
        width: 95%
    }
}