body {
    min-height: 1000px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

body, .title:hover, .modalbodyHTML, .modaltitle {
    background-color: rgb(4, 7, 58);
}

.header, .nav, .dropDown > div {
    background: rgb(4, 7, 58);
}

.header, .title, .mainIMG, .nav, input, .modalmainIMG > img, .dropDown {
    text-align: center;
}

.nav > div, .product, .dropDown {
    display: inline-block;
    width: 33.33%;
}

.nav, input, .dropDown {
    font-size: 32px;
}

.nav, input, .title:hover, .modalborder, .closePosition, .leftArrow, .rightArrow, .dropDown {
    color: rgb(243, 0, 37);
}

.dropDown {
    position: absolute;
    z-index: 15;
}

#headwearDrop {
    left: 33.33%;
}

#accessoriesDrop {
    left: 66.66%;
}

.dropDown > div {
    padding: 24px 0 0;
}

.modal, .dropDown {
    display: none;
}

.header > img {
    margin: 24px auto 0;
}

.header > img, input {
    width: 50%;
}

.product {
    vertical-align: text-top; 
}

.title {
    margin: 10px;
    transition: border-color, 1s;
}

.title {
    height: 78px;
}

.border, .title {
    border: 10px solid rgb(243, 0, 37);
}

.dropDown > div, #clothes, #headwear, #accessories {
    height: 56px;
}

#clothes, #headwear, #accessories {
    padding: 24px 0px 0px;
} 

#clothes, #headwear, #accessories, .title, .dropDown > div {
    transition: color, 1s;
    transition: background-color, 1s;
}

body, #clothes:hover, #headwear:hover, #accessories:hover, .dropDown > div:hover {
    color: rgb(4, 7, 58);
}

#clothes:hover, #headwear:hover, #accessories:hover, .title, .modalborder, .dropDown > div:hover {
    background-color: rgb(243, 0, 37);
}

.title:hover {
    border-color: rgb(4, 7, 58);
}

.title, .modaltitle {
    font-size: 28px;
}

.modalbodyHTML {
    font-size: 20px;
    text-align: left;
}

.mainIMG, .modalmainIMG {
    background-color: white;
}

.mainIMG > img, body, .nav {
    max-width: 100%;
}

ul {
    padding-left: 40px;
    margin: 5px auto;
    list-style-type: disc;
}

li {
    margin: 2px auto;
}

input {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgba(243, 0, 36, 0.185);
    outline: none;
    border: 0px;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(4, 7, 58, 0.75);
    overflow: auto;    
}

body, .modalmainIMG, .modal > div {
    position: relative;
}

.modal > div {
    width: 60%;
    z-index: 3333;
}

.modal > div, .modalmainIMG > img {
    display: block;
}
.modal > div, .modalmainIMG > img, body {
    margin: 0 auto;
}

.modalbodyHTML, .modaltitle {
    margin: 10px;
}

.modalborder, .modalbodyHTML, .modaltitle {
    border: 10px solid rgb(4, 7, 58);
}

.modalmainIMG > img {
    max-width: 400px;
}

.closePosition, .leftArrow, .rightArrow {
    position: absolute;
    font-size: 40px;
    cursor: pointer;
    z-index: 4000;
}

.closePosition {
    top: 20px;
    right: 20px;
}

.leftArrow, .rightArrow {
    top: 200px;
}

.leftArrow{
    left: 10px;
}

.rightArrow {
    right: 10px;
}



@media all and (min-width:900px) and (max-width: 1200px) {
    .product {
        width: 50%;
    }
    
    .header > img {
        width: 60%
    }
}

@media all and (max-width: 899px) {
    .product {
        width: 100%;
    }
    
    .mainIMG img, .modalmainIMG img {
        width: 65%;
    }
    
    .nav > div, .modal > div {
        display: block;
        width: 100%;
    }
    
    .modal > div {
        max-width: 500px;
    }

    .header > img {
        width: 95%
    }

    .dropDown {
        width: 100%;
    }
    
    #headwearDrop {
        left: 0;
    }
    
    #accessoriesDrop {
        left: 0;
    }
}